body
{
    width: 15%;
    background-color: rgb(201, 231, 154);
    margin-left: 35%;
}
#fin
{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
h1
{
    margin-left: 2em;
}