body
{
    background-color: #a1d636;
    text-align: center;
}
a
{
    font-family: 'Courier New', Courier, monospace;
    margin:50px;
    padding: 40px;
    border-left-style: ridge;
    border-radius: 8px;
    color:rgb(17, 0, 255);
    width: 10em;
    text-decoration: underline;
    border-left-width: 4px;
    background-color: grey;
    display:block;
}
a:hover
{
    background-color: rgb(78, 78, 78);
}
a.a
{
    border-color: red;
}
a.b
{
    border-color: yellow;
}
a.c
{
    border-color: blue;
}
a.d
{
    border-color: green;
}
ul
{
    text-align: center;
}