body
{
    background-color: darkgreen;
}
div
{
    margin:10px;
    padding: 40px;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
    border-color: white;
    color:white;
    width: 10em;
    margin-left: 20em;
}
div:hover
{
    background-color: blue;
}
div:focus
{
    color:blue;
}
h1
{
    color:red;
    text-align:center;
}