body
{
    background-color: #deff9c;
}
a
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin-right: 3em;
}
a:link
{
    color: greenyellow;
}
a:visited
{
    color: green;
}
a:hover
{
    background-color: rgb(78, 172, 172);
    text-decoration: underline blue;
}
a:focus
{
    color: greenyellow;
    background-color: rgb(130, 236, 130);
    box-shadow: black 6px 6px 5px;
}