body
{
    background-color: rgb(255, 253, 124);
}
a
{
    height: 10px;
    padding: 5px;
    width: 5.5em;
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(196, 143, 0);
    color: rgb(196, 143, 0);
}
a:hover
{
    background-color: black;
}
div
{
    background-color: rgb(255, 226, 99);
    box-shadow: 7px 7px 10px;
    margin-left: 1em;
    margin-right: 1em;
    float:right;
    -moz-box-align: center;
}