body
{
    background-color: rgb(200, 218, 174);
}
#box1
{
    margin:40px;
    background-color: rgb(184, 230, 139);
}
#box2
{
    padding: 20px;
    margin: 20px;
    background-color: rgb(55, 168, 55);
}
#box3
{
    padding:30px;
    margin: 30px;
    border: 7px solid #22AABB;
    background-color: rgb(55, 168, 55);
}