body
{
    background-color: #b6e7be;
}
#box1
{
    margin: 10px;
    background-image: linear-gradient(to top, #b6e7be, #A8EA85);
    box-shadow: 1em 1em black;
    font-family: Arial, Helvetica, sans-serif;
}
#box2
{
    margin: 10px;
    background-image: linear-gradient(to top, #b6e7be, #A8EA85);
    box-shadow: 1em 1em black;
    font-family: 'Courier New', Courier, monospace;
}
#box3
{
    margin: 10px;
    background-image: linear-gradient(to top, #b6e7be, #A8EA85);
    box-shadow: 1em 1em black;
    font-family: 'Times New Roman', Times, serif;
}