body
{
background-color: rgb(200, 218, 174);
}
div.a
{
margin: 20px;
background-image: linear-gradient(to bottom, #b6e7be, #A8EA85);
box-shadow: 8px 8px black;
font-family: 'Courier New', Courier, monospace;
width: 30em;
}
span.small
{
font-size: small;
}
span.large
{
font-size: large;
}
span.larger
{
font-size: larger;
}